{% extends "diesel/base.html" %}

{% block content %}

<section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
<div class="row justify-content-center">
    
  <div class="col-lg-5 col-md-8">
        <div class="form">
          <h1> You have been logged out <br>  Pls login again  </h1>
          

           
            
            
            
            
            <div class="text-center"><a href=" {% url 'login' %} " type="submit"> Login </a></div>
          
        </div>
      </div>
    </div>
    </div>
  </section>

{% endblock %}